<!--Blog Page Header-->

<section id="services-page-header" class="text-center text-light">
  <div class="container">
    <div class="row">
      <div class="col  pt-5">
        <h2>Blog</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, eius!</p>
      </div>
    </div>
  </div>
</section>

<!--Blog section-->

<section id="blog" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <img src="assets/img/js2.jpg" class="img-fluid card-img-top" alt="">
            <div class="card-body">
              <div class="card-title">
                <h4>Blog Post One</h4>
                <small class="text-muted">Written By Helal</small>
                <hr>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, earum vitae nesciunt non assumenda consequuntur eligendi doloribus culpa! Laudantium, architecto.</p>
                <a href="#" class="btn btn-block btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/js3.jpg" class="img-fluid card-img-top" alt="">
            <div class="card-body">
              <div class="card-title">
                <h4>Blog Post Two</h4>
                <small class="text-muted">Written By Helal</small>
                <hr>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, earum vitae nesciunt non assumenda consequuntur eligendi doloribus culpa! Laudantium, architecto.</p>
                <a href="#" class="btn btn-block btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/js4.jpg" class="img-fluid card-img-top" alt="">
            <div class="card-body">
              <div class="card-title">
                <h4>Blog Post Three</h4>
                <small class="text-muted">Written By Helal</small>
                <hr>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, earum vitae nesciunt non assumenda consequuntur eligendi doloribus culpa! Laudantium, architecto.</p>
                <a href="#" class="btn btn-block btn-dark">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Copyright-->

<section id="copyright" class="text-center py-3 text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead mb-0">Copyright 2019 &copy; Jessore</p>
      </div>
    </div>
  </div>
</section>

